.balloon2 {
  height: 200px;
  width: 200px;
  float: right;
  justify-content: center;
  position: relative;
  margin-top: -120px;
}

@media (max-width: 900px) {
  .balloon2 {
    display: none;
  }
}
