.balloon {
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: -150px;
}

@media (max-width: 800px) {
  .balloon {
    height: 125px;
    width: 125px;
    display: flex;
    float: left;
    margin-left: -20px;
  }
}

@media (max-width: 900px) {
  .balloon {
    height: 125px;
    width: 125px;
    display: flex;
    float: left;
    margin-left: -20px;
  }
}
