.balloon {
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: -150px;
}

@media (max-width: 900px) {
  .balloon {
    height: 10em;
    width: 10em;
    display: flex;
    justify-content: left;
    position: relative;
    margin-left: -40px;
  }
}
