.App {
  background: #f3f0e3;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 0 auto;
  max-width: 960px;
}

a {
  color: blue;
}

.App header h2 {
  font-family: "Imperial Script", cursive;
  font-weight: 200;
  font-style: normal;
  font-size: 50px;
  line-height: 0.75;
  padding: 10px;
  text-align: center;
}

.App .e {
  font-size: 80px;
  font-style: bold;
  font-weight: 500;
  letter-spacing: 1px;
}

.App .d {
  font-size: 80px;
  font-style: bold;
  font-weight: 500;
  letter-spacing: 1px;
}

.App .secondLine {
  font-size: 45px;
  margin-left: 200px;
}

.App .c {
  font-size: 60px;
  font-style: bold;
  letter-spacing: 1px;
}

.App .t {
  font-size: 60px;
  font-style: bold;
  letter-spacing: 1px;
}

.App footer {
  font-size: 14px;
  margin: 30px;
  max-width: 960px;
  padding-bottom: 20px;
  text-align: center;
}

.App footer a {
  color: blue;
  font-size: 16px;
  text-decoration: none;
}

.App footer a:hover {
  text-decoration: underline;
}

.App .sheCodesLogo img {
  margin-top: 5px;
  max-width: 100px;
}

.App .pexels img {
  max-width: 80px;
  margin-top: 10px;
}

@media (max-width: 800px) {
  .App header h2 {
    font-size: 40px;
    position: relative;
    z-index: 9999;
  }

  .App .e {
    font-size: 50px;
    letter-spacing: 1px;
  }

  .App .d {
    font-size: 50px;
    letter-spacing: 1px;
  }

  .App .secondLine {
    font-size: 40px;
    line-height: 1;
    margin-left: 0;
    padding-bottom: 200px 2px;
    position: relative;
    z-index: 9999;
  }

  .App .c {
    font-size: 45px;
    letter-spacing: 1px;
  }

  .App .t {
    font-size: 45px;
    letter-spacing: 1px;
  }
}

@media (max-width: 900px) {
  .App header h2 {
    font-size: 40px;
    position: relative;
    z-index: 9999;
  }

  .App .secondLine {
    font-size: 40px;
    line-height: 1;
    margin-left: 0;

    position: relative;
    z-index: 9999;
  }
}
