.Photos img {
  background-color: blue;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
  margin: 15px 0;
  padding: 4px 4px;
}

.Photos .photographer-info {
  margin-top: 4px;
  font-size: 12px;
  text-align: center;
}

.Photos .photographer-info a {
  color: blue;
  text-decoration: none;
}

.Photos .photographer-info a:hover {
  text-decoration: underline;
}
